@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --color-primaria:white;
  --color-secundaria:rgb(51, 51, 51);
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-uniquifier800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}




body{
  background-color: var(--color-primaria) ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

 /* chamada para acão, desing do botao */

 .cta{
    background-color: rgb(33, 33, 33);
    margin: 1rem 2rem;
    color: white;
}